.banner {
    background: var(--azul-padrao);
    color: var(--cor-de-fundo-header);
    text-align: center;
    padding: 2.9em 1.5em;
    display: block;

}

@media screen and (min-width: 1024px) {
.banner {
    width: 95.3%;
}
}

.banner__titulo {
    font-weight: 700;
    font-size: 18px;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0 2em 0
}




.banner__pesquisa {
    width: 100%;
    padding: 1em;
    background-color: transparent;
    border: none;
    color: var(--cor-de-fundo-header);
    border-radius: 20px;
    border: 1px solid var(--cor-de-fundo-header);
}

.banner__pesquisa::placeholder {
    background: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 10%;
    color: var(--cor-de-fundo-header);
    font-family: var(--fonte-principal);
    font-size: 12px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner__pesquisa {
        width: 40%;
    }

    .banner__pesquisa::placeholder {
        background-position: 15%;
    }
}