.cabecalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-de-fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    text-align: center;
}

.container__imagem {
    padding: 0 1em;
}

