.cabecalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    display: inline-block;
    background-color: none;
}

.cabecalho { /*pai*/
    background-color: var(--cor-de-fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;}

.container__icone {
    display: flex;
    text-align: center;
}

.container__imagem {
    padding: 0 1em;
    width: 35px;
}

.lista-menu { /*filho*/
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
display: block;}


.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-de-fundo-header);
}

.lista-menu__item:hover {
    background-color: var(--cor-laranja-modelo);
}

.lista-menu__titulo {
    color: var(--cor-laranja-modelo);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text; /*outros tipos de navegadores*/
    -webkit-text-fill-color: transparent;  /*outros tipos de navegadores*/
    background-clip: text; /*prendendo a cor do background só no texto*/
    text-transform: uppercase;

}

.container__titulo {
    display: none;
}

.categoria__header {
    display: none;
}

.opcoes__botao {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .icone__fav {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        display: inline-block;
        font-size: 30px;
        align-self: center;
    }

    .container__titulo {
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .categoria__header {
        display: flex;
    }

    .categoria__item {
        margin: 10px 20px;
        text-transform: uppercase;
    }

    .container__icone {
        padding-right: 50px;
    }

    .icone__usuario {
        margin-left: 40px;
    }

    .container__imagem {
        padding: 0 1em;
        margin-left: 25px;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: inline;
    }

    .lista-menu {
        width: 20vw;
        top: 53px;
        z-index: 2;
    }
}



@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

   .categoria__header {
    margin-right: auto;
   } 

   .container__texto {
    display: block;
}
  
    
}