.novidade {
    background-color: var(--cor-de-fundo-header);
    padding-left: 15px;
    display: block;
}

.novidade__titulo {
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 20px 10px 10px 0px;
}

.novidade__descricao {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 18px;
    font-weight: 300;
    margin-bottom:10px;
    padding-right: 40px;

}

.novidade__email {
    width: 320px;
    padding: 10px 0px 10px 20px;
    border-radius: 15px;
    border: 1px solid #002F52;
    background-color: var(--cor-de-fundo-header);
    margin: 5px 0 20px 0;
    color: #002F52;
    font-family: var(--fonte-principal);
}

.novidade__email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: #002F52;
    font-weight: 400;
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px;
    padding: 60px;

}



@media screen and (min-width: 1024px) {
    .novidade {
        padding: 10px 100px 10px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: 1fr 1fr;
    }

    .novidade__email {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin: 40px 30px;
        padding: 10px 0px 5px 20px;

    }

    .novidade__titulo {
        font-size: 24px;
        font-weight: 500;
    }

    .novidade__descricao {
        font-size: 16px;
        font-weight: 300;
    }

}



